@import 'colors&Fonts.scss';

@mixin buscarFactura($pading-top) {
    justify-content: space-around;
    padding-top: $pading-top;
}

.card:not(.card--background) {
    border-radius: 0;
    background-color: black;
}

.card--background {
    border: none;
}

.form {
    background: black;
}

.buscarFactura-row {
    @include buscarFactura(0)
}

.buscarFactura-row__section:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        height: 300px;
    }
    article {
        max-width: 70vh;
    }
}

@media(max-width:768px) {
    .buscarFactura-row {
        @include buscarFactura(4px);
    }
    .buscarFactura-row__section:not(:last-child) {
        padding-top: 0px;
    }
    .buscarFactura-row__section:last-child {
        img {
            margin-top: 30px;
            height: 150px;
        }

        article {
            max-width: 100%;
        }
    }
}
@media(min-width:768px) {
    .buscarFactura-row {
        @include buscarFactura(50px);
        align-items:flex-start;
    }

    .buscarFactura-row__section:not(:last-child) {
        padding-top: 90px;
    }

    .buscarFactura-row__section:last-child {
        img {
            height: 200px;
        }

        article {
            max-width: 100%;
        }
    }
}