$main-color1: #EF630B;
$main-color2: #F9C300;
$main-color3: #043A6D;
$main-color4: #85C63B;
$main-color5: #F2F3F2;
$black-color: #000;
$white-color: #FFF;
$font-color1: #373D3F;


$h1-size: 40px;
$font-title: 'Concert One', cursive;