@import 'flexbox';

$h1-size: 24px;
$black-color: #000;

.header{
    background: $black-color;
}
.navbar__title{
    font-size: $h1-size;
}
.navbar-menu__item{
    margin: 5px;
    border-bottom: 2px solid $black-color;
}
.navbar-menu__item:not(:nth-child(3)):hover
// .navbar-menu__item:not(:nth-child(4)):hover
{
    border-bottom: 2px solid #fff;
    transition: 0.8s;
}