@import 'colors&Fonts.scss';

.planes{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background:$main-color3;
    
}
.planes__card{
    border-radius: 35px;
    min-height: 325px;
}