@import '../../styles/colors&Fonts.scss';

@mixin buscarFactura($pading-height, $pading-width, $min-height, $magin-bottom) {
    justify-content: space-around;
    padding: $pading-height $pading-width;
    min-height: $min-height;
    margin-bottom: $magin-bottom;
}

.card--background {
    border: none;
}

.buscarFactura-row__section:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        height: 270px;
    }
    article {
        max-width: 100%;
    }
}

p{
    font-size:$p-size;
    font-weight: 400;
}
h2{
    font-size: $h2-size;
    font-weight: bold;
}

/*mobile*/
@media(max-width:768px) {
    .buscarFactura-row {
        @include buscarFactura(4px, 0, 25vh, 50px);
    }
    .buscarFactura-row__section:not(:last-child) {
        padding-top: 0px;
    }
    .buscarFactura-row__section:last-child {
        img {
            margin-top: 30px;
            height: 150px;
        }
        article {
            max-width: 100%;
        }
    }
}

/*tablet*/
@media(min-width:768px) {
    .buscarFactura-row {
        @include buscarFactura(10px, 4%, 30vh, 50px);
        align-items:flex-start;
    }
    .buscarFactura-row__section:not(:last-child) {
        padding-top: 100px;
    }
    .buscarFactura-row__section:last-child {
        img {
            height: 200px;
        }
        article {
            display: flex;
            justify-content: flex-end;
            max-width: 100%;
        }
    }
}

// /*Desktop*/
// @media(min-width:1366px) {
//     .buscarFactura-row {
//         @include buscarFactura(10px, 4%, 30vh, 50px);
//         align-items:flex-start;
//     }
//     .buscarFactura-row__section:not(:last-child) {
//         padding-top: 100px;
//     }
//     .buscarFactura-row__section:last-child {
//         img {
//             height: 200px;
//         }
//         article {
//             display: flex;
//             justify-content: flex-end;
//             max-width: 100%;
//         }
//     }
// }